{
    "extends": [
        "react-app",
        "react-app/jest",
        "plugin:jest-dom/recommended",
        "plugin:jsx-a11y/recommended"
    ],
    "plugins": ["jsx-a11y", "testing-library", "jest-dom"]
}
