name: UI Build

permissions:
    packages: read

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    setup:
        name: Setup Node/NPM
        runs-on: ubuntu-latest
        steps:
            - name: Stop previous
              uses: styfle/cancel-workflow-action@0.11.0

            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: 'npm'
                  cache-dependency-path: '**/package-lock.json'
                  registry-url: 'https://npm.pkg.github.com'
                  scope: '@estuary'

            - name: Get Deps
              run: npm install
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    quality:
        name: Check Quality
        needs: setup
        runs-on: ubuntu-latest
        steps:
            - name: Stop previous
              uses: styfle/cancel-workflow-action@0.11.0

            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: 'npm'
                  cache-dependency-path: '**/package-lock.json'

            - name: Get Deps
              run: npm install

            - name: Typecheck
              run: npm run typecheck

            - name: Linting
              run: npm run lint

            - name: Prettier
              run: npm run format

            #  We currently don't have tests to run
            # - name: Jest
            #   run: npm run test

    # Deployment steps undertaken on a merge to `main`.
    deploy:
        name: Deploy
        needs: quality
        runs-on: ubuntu-latest
        if: ${{ github.ref == 'refs/heads/main' }}

        # Ask github to inject an ID token with sufficient claims
        # for GCP workload identity federation.
        permissions:
            contents: read
            id-token: write

        steps:
            - name: Stop previous
              uses: styfle/cancel-workflow-action@0.11.0

            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: 'npm'
                  cache-dependency-path: '**/package-lock.json'

            - name: Get Deps
              run: npm install

            - name: Create a release build
              run: npm run build

            # This was generated via `setup-workload-ident.sh` in the ops repo.
            - name: Set up Google Cloud SDK
              uses: google-github-actions/auth@v0
              with:
                  service_account: cd-github-ui@estuary-control.iam.gserviceaccount.com
                  workload_identity_provider: projects/1084703453822/locations/global/workloadIdentityPools/github-actions/providers/github-actions-provider

            - name: Update Dashboard Deployment
              run: |
                  gcloud run deploy dashboard \
                    --project estuary-control \
                    --region us-central1 \
                    --source ./build/
